@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url(./css/scrollbar.css);
@import url(./css/session.css);
@import url(./css/aside.css);
@import url(./css/myBoards.css);
@import url(./css/profile.css);

body {
  background-color: #fafafa;
  width: 100vw;
  height: 100vh;
}

body {
  position: fixed;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
